.login_form{

    border-radius: 10px;
    max-width: 50%;
    margin: 0 auto;
    padding: 300px 0;

    
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);

}

.login_form h1{
    font-size: 45px;
}
.login_form label{
    font-size: 20px;
    padding: 5px 0;
}
.login_form input{
    margin: 5px 0;
    padding: 7px 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login_form button{
    margin-top: 20px;
    padding: 10px 30px;
    align-items: center;
    background-color: #004556;
    border-radius: 5px;
    color: white;
    border: none;
}
.login_form button:hover{
    transition: 0.5s;
    background-color: #61DBFB;  
    cursor: pointer;
}