.login_form{
    background-color: rgb(0, 3, 31);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 280px 0;

}

.login_form h1{
    font-size: 45px;
}
.login_form label{
    font-size: 20px;
    padding: 5px 0;
}
.login_form input{
    margin: 5px 0;
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
}

.login_form button{
    margin-top: 20px;
    padding: 10px 30px;
    align-items: center;
    background-color: #61DBFB;
    border-radius: 5px;
    color: white;
    border: none;
}
.login_form button:hover{
    transition: 0.5s;
    background-color: #4395aa;  
    cursor: pointer;
}