.profile{
    
    max-width: 100%;
    margin: 180px auto;
    align-content: center;
    justify-content: center;

    font-size: 15px;
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    max-width: 900px;

}
.profile_elements{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile_elements_text a{
    text-decoration: none;
    color: steelblue;
}

.profile h3, .profile img{
    padding: 20px 0;
}
.profile p{
    padding: 5px 0;
}
