.user_http_method{
    display: flex;
    flex-direction: column;

    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.user_http_method_options{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user_http_method_form{
    display: flex;
    align-items: center;
}
.user_http_method h3{
    margin: 15px 0;
}
.user_http_method input {
    padding: 6px;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 5px;
    margin-right: 20px;
}
.user_http_method button{
    margin: 15px 0;
    padding: 10px;
    width: 200px;
    background-color: steelblue;
    border-radius: 5px;
    border: none;
    color: white;
}
.user_http_method button:hover{
    background-color: rgb(40, 76, 104);
    transition: 0.5s;
    cursor: pointer;
}
